
@font-face {
    font-family: 'Chalet';
    src: url('/fonts/Chalet-NewYorkNineteenSixty.woff2') format('woff2');
    font-style: oblique;
    font-display: fallback;
}

@font-face {
    font-family: 'Chalet';
    src: url('/fonts/Chalet-LondonNineteenSixty.woff2') format('woff2');
    font-style: normal;
    font-display: fallback;
}


:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --color-white: #FFF;
    --color-text: #000;
    --color-primary: #FF0038;
    --color-primary-hover: #e60032;
    --color-tertiary:#F1F1F1;
    --border-radius: 4px;
    --border-color: var(--color-tertiary);
    --font-family: Chalet, Avenir, Helvetica, Arial, sans-serif;
    --font-weight-bold: 700;
    --font-weight-normal: normal;
    --container-width: 1240px;
}

html{
    font-family: var(--font-family);
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}


.h1{
    font-size:2.5rem;
    line-height:2.25rem;
    margin-bottom:0;
    padding-bottom:0;
    font-weight:var(--font-weight-bold);
}

.text{
    --font-size: 1rem;
    font-size:var(--font-size);
    font-weight:var(--font-weight-normal);
    line-height:1.42rem;
    letter-spacing: calc(var(--font-size) * -0.005);
}

.medium-text {
    font-size:1.42rem;
    line-height:2rem;
    font-weight:var(--font-weight-bold);
    letter-spacing: calc(var(--font-size) * -0.005);
}

@media (min-width: 992px) {
    html {
        font-size: 13px;
    }
    .h1{
        font-size:3rem;
        line-height:2.8rem;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }

    .h1{
        font-size:3.42rem;
        line-height:3.28rem;
    }
}
